#container{
    height: 300px;
    width: 740px;
    border: 2px solid black;
    background-color: rgb(209, 199, 199);
    flex-flow: row nowrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

html, body {height: 100%;}
/* 
body{
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
} */
    #box-1 {
    background: red;
    border: 1px solid black;
    order: 2;
}
   #box-2 {
    background: blue;
    border: 1px solid black;
    order: 3;
}
   #box-3 {
    background: green;
    border: 1px solid black;
    order: 1;
}

.mieibox {
    padding: 20px;
    width: 180px;
    height: 100px;
   }

/* Centro orizzontalmente e verticalmente i box che si trovano nel body*/

/* .figli{
    width: 100px;
    background-color: gray;
    border: 2px solid black; 
}

#primofiglio{
    order: 1;
}

#secondofiglio{
    order: 4;
}

#terzofiglio{
    order: 2;
}

#quartofiglio{
    order: 3;
} */