.mieidiv {
    background-color: gray;
    border: 1px solid black;
    height: 200px;
    width: 300px;
  }
  
  .nuovaClasse {
    background-color: green;
    height: 150px;
    width: 200px;
  }
  